<%= turbo_frame_tag "kanban-modal" do %>
  <div data-controller="kanban-modal" data-action="keyup@document->kanban-modal#handleKeyup"
    data-kanban-modal-target="modal"
    class="fixed z-50 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div
          data-action="click->kanban-modal#close"
          data-kanban-modal-target="wrapper"
          data-transition-enter="ease-out duration-300"
          data-transition-enter-start="opacity-0"
          data-transition-enter-end="opacity-100"
          data-transition-leave="ease-in duration-200"
          data-transition-leave-start="opacity-100"
          data-transition-leave-end="opacity-0"
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          aria-hidden="true">
      </div>

      <div
        data-kanban-modal-target="body"
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        class="inline-block bg-white rounded-lg px-3 pt-1 pb-3 sm:px-14 sm:pt-5 sm:pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8">
        <div>
          <div class="mx-auto w-full flex justify-end <%= local_assigns[:close].nil? ? '' : 'hidden' %>">
            <button data-action="kanban-modal#close" class="font-bold text-xl">✗</button>
          </div>

          <%= turbo_frame_tag "modal-body" do %>
            <%= yield %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>