<div class="card animate-pulse">
    <div class="bg-white text-gray-200 text-md p-2 rounded">......</div>
</div>
<div class="card animate-pulse">
    <div class="bg-white text-gray-200 text-md p-2 rounded">......</div>
</div>
<div class="card animate-pulse">
    <div class="bg-white text-gray-200 text-md p-2 rounded">......</div>
</div>