<div class="board p-14 mt-16">
    <div class="lists">
        <% 4.times do |i| %>
            <div class="animate-pulse">
                <div class="list-header">
                </div>

                <div class="list">
                    <% rand(3..10).times do %>
                        <div class="card">
                            <div class="bg-white text-white text-md p-2 rounded">.</div>
                        </div>
                    <% end %>
                    <button class="add-card-btn">
                        + Add a card
                    </button>
                </div>
            </div>
        <% end %>
        <button class="animate-pulse add-list-btn">
            + Add another list
        </button>
    </div>
</div>
