<%= render "kanban7/modal" do %>
  <div class="mx-auto w-full">
        <%= render partial: @board_configs.form_list_partial, 
            locals: {
                @board_configs.list_model_symbol => @list, 
                :url => Rails.application.routes.url_helpers.send("#{@board_configs.kanban_name}_kanban_update_#{@board_configs.list_model_name}_path", @board_configs.list_model_id_symbol => @list.id)
            } 
        %>
  </div>
<% end %>