<div 
    data-controller="kanban-board" 
    data-action="dragstart->kanban-board#dragStart dragover->kanban-board#dragOver dragleave->kanban-board#dragLeave dragenter->kanban-board#dragEnter drop->kanban-board#drop dragEnd->kanban-board#dragEnd"
    class="h-screen bg-red-50 overflow-x-auto overflow-y-hidden">
  <div class="p-14 mt-16">
    
    <% render partial: board_configs.header_board_partial, locals: {board_configs.board_model_symbol => board} %>

    <div id="lists" class="mt-5 ml-5 grid grid-flow-col auto-cols-max gap-4">
        <% lists.each_with_index do |list, i| %>
            <%= render "kanban7/lists/list", list: list, prev: i > 0 ? (lists[i-1].position || lists[i-1].id) : 0, board: board, board_configs: board_configs  %>
        <% end %>

        <% unless board_configs.is_fixed_lists? %>
          <%= turbo_frame_tag "new-list" %>

          <div data-kanban-board-target="formList" class="hidden">
              <%= render partial: board_configs.form_list_partial, 
                  locals: {
                    board_configs.board_model_symbol => board, 
                    board_configs.list_model_symbol => board_configs.list_model.new(board_configs.board_model_symbol => board)
                  } 
              %>
          </div>

          <button data-kanban-board-target="addListBtn" data-action="kanban-board#showListForm" class="w-72 h-12 bg-slate-300 hover:border-2 hover:border-slate-400 text-white rounded">+ Add another list</button>
        <% end %>
    </div>
  </div>
</div>