<%= turbo_frame_tag board_frame_tag_id_for(current_user) do %>
  <div id="<%= boards_grid_view_id_for(current_user) %>" class="container mx-auto mt-20 grid grid-cols-4 gap-4 items-stretch">
    <%= link_to "+ create new board", new_board_path, data: { turbo_frame: :modal }, class: "text-gray-600 border border-dashed border-indigo-300 hover:bg-gray-100 px-10 flex items-center" %>
    <%= render partial: 'board', collection: @current_user_boards, as: :board %>
  </div>
<% end %>
